* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.header {
  width: 100%;
  background-color: rgb(43, 42, 110);
  color: white;
  text-align: center;
  padding: 1rem;
}

.word_display {
  margin-top: 2rem;
  font-size: 70px;

  color: rgb(205, 47, 71)
}

.word_input_box {
  margin-top: 2rem;
}

.word_input {
  padding: 1rem 1rem;
  width: 300px;
}

.game_info {
  margin-top: 2rem;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 300px;

}

.time,
.score {
  font-size: 30px;
}

.button {
  width: 200px;
  height: 30px;
  margin-top: 2rem;
  padding: 20px;
  line-height: 2px;
  background-color: rgb(43, 42, 110);
  color: white;
  cursor: pointer;
}

.loding {
  background: #ccc;
  cursor: not-allowed;
}